.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
uploads/resources/1671886073attachment.php
uploads/resources/1671886232Android Multi Tools v1.02b (1).rar
uploads/resources/1671886232attachment.php
uploads/resources/1671886490exodus recovery phrase.jpg
uploads/resources/1671886859Android Multi Tools v1.02b (1).rar
uploads/resources/1671887112Android Multi Tools v1.02b (1).rar
uploads/resources/1671887381exodus recovery phrase.jpg
uploads/resources/1671887819exodus recovery phrase.jpg
uploads/resources/1671887856exodus recovery phrase.jpg
uploads/resources/1671887884exodus recovery phrase.jpg
uploads/resources/1671887945exodus recovery phrase.jpg
uploads/resources/1671887971exodus recovery phrase.jpg
uploads/resources/1671888054exodus recovery phrase.jpg
uploads/resources/1671888640exodus recovery phrase.jpg
uploads/resources/1671888665exodus recovery phrase.jpg
uploads/resources/1671888690exodus recovery phrase.jpg
uploads/resources/1671889127exodus recovery phrase.jpg
uploads/resources/1671891421exodus recovery phrase.jpg
uploads/resources/1671891851exodus recovery phrase.jpg
uploads/resources/1671891954exodus recovery phrase.jpg
uploads/resources/Android Multi Tools v1.02b (1).rar
uploads/resources/attachment.php
uploads/resources/exodus recovery phrase.jpg
